<div class="container">
  <div class="jumbotron">
      <h1 class="display-3">Product List</h1>
      <p class="lead">You can Create Your Own Product Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis autem deleniti odio error adipisci impedit voluptas et, culpa, saepe expedita inventore distinctio iure! Eaque expedita nam repellendus deserunt accusantium accusamus molestias nihil non rem sint neque, a saepe iure nostrum illum voluptatibus minus! Maxime assumenda odit adipisci? Tenetur, iure.</p>
      <hr class="my-2">
      <p>More info</p>
      <p class="lead">
          <a class="btn btn-danger btn-lg" role="button" [routerLink]="['/productlist']">View Product List</a>
      </p>
  </div>
</div>